@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat';
}

.navbar {
    background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
}

.intro {
    text-align: center;
    height: 92vh;
}

.img-container {
    display: inline-block;
}

.about {
    background-color: #EEEEEE;
    height: 100vh;
}

.nav-link:hover {
    text-decoration: underline !important;
}

#header-text {
    text-decoration: underline !important;
}

.nav-item:hover {
    border-top: black;
    border-bottom: black;
<<<<<<< HEAD
}

#fom-btn {
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    margin-top: 3%;
}

.info-panel {
    background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
    padding: 2%;
    border-radius: 4px;
    color: white;
=======
<<<<<<< HEAD
}

.ac {
    margin-top: 30px;
    color: #6EA4CF;
    border: #495158 1px solid;
    background: transparent;
    font-size: 12px;
    padding: 20px;
    line-height: 1.55;
    margin-bottom: 30px;
    border-radius: .3rem;
=======
>>>>>>> 76090d0b7eff05b5a8e7b6abf0c2c5874f4451c7
>>>>>>> 60aefc184d5ac73e92e5649045ac65c0bb1e0671
>>>>>>> other_content
}