@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat';
}

.navbar {
    background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
}

.intro {
    text-align: center;
    height: 92vh;
}

.img-container {
    display: inline-block;
}

.about {
    background-color: #EEEEEE;

}

.nav-link:hover {
    text-decoration: underline !important;
}

#header-text {
    text-decoration: underline !important;
}

.nav-item:hover {
    border-top: black;
    border-bottom: black;
}

#fom-btn {
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    margin-top: 3%;
}

.info-panel {
    background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
    padding: 2%;
    border-radius: 4px;
    color: white;
}

.ac {
    margin-top: 30px;
    color: #6EA4CF;
    border: #495158 1px solid;
    background: transparent;
    font-size: 12px;
    padding: 20px;
    line-height: 1.55;
    margin-bottom: 30px;
    border-radius: .3rem;
}