@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat';
}

.navbar {
    background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
}

.intro-text {
    text-align: center;
}

.nav-item:hover {
    border-top: black;
    border-bottom: black;
}